/*
Set the position and z-index of the canvas so it renders
behind everything properly
*/
#constellation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 0;
}

/*
Remove all horizontal scrolling, and scrollbars
*/
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
} 

html {
    scrollbar-width: none; /* Firefox */
}

/*
Next is all the styling for the website components.

The website consists of sections (About me, personal projects, etc).
Each .section has a .sectionHeading (large text at the top).
Each .section has any number of [card] (display an item of that section).
Each [card] has one .cardBody
Each .cardBody has one .cardText
Each .cardBody has one .cardImage
Each .cardText may have one .cardSubHeading
*/

.section {
    display: flex; 
    width: 100vw; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    padding-top: 20vh;
    z-index: 1;
}

.sectionHeading {
    display: flex; 
    width: 100vw; 
    align-items: center; 
    justify-content: center; 
    font-size: 10vh;
    margin-bottom: 5vh;
}

[card] {
    background-color: black; 
    margin-bottom: 5vh; 
    border-radius: 10px; 
    border: 2px solid #F98948; 
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
}

.cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardText {
    padding: 10px 10px 10px 10px;
    color: white;
}

.cardSubHeading {
    color: #746f72;
}

.cardImage {
    max-width: 100%;
}

/*
Below is all the CSS and styling for the navbar elements
*/
.navheader {
    display: flex; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    z-index: 2; 
    background-color: black; 
    padding: 10px; 
    align-items: baseline; 
    gap: 10px; 
    border-bottom: 2px solid #eb5e28;
}

.closedLink {
    display: flex; 
    flex-direction: column; 
    font-size: 3vh;
}

.openLink {
    display: none;
}

.navLink {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.navLink:hover {
    background-color: black;
    border: 2px solid #F98948;
    border-radius: 10px;
    padding: 5px;
}

.navLink:hover > .closedLink {
    display: none;
}

.navLink:hover > .openLink {
    display: flex; 
    flex-direction: column; 
    font-size: 3vh;
}

.navLink:hover ~ .section {
    opacity: 0.5;
}

.openLinkOption {
    color: #746f72;
    font-size: 2vh;
    text-decoration: none;
}

.openLinkOption:hover {
    color: white;
}

.linkHeader {
    text-decoration: none;
    color: white;
}
